.home-hero{
    position: relative;
    height: 91vh;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #343A40;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

@media(max-width:770px) {
    .home-hero{
        height: 150vh;
    }
    .hero-right{
        margin-top: -100px !important;
      
    }
}